.navbnt{
    position: relative;
    padding: 0.6rem;
    transition: 0.3s;
}
.navbnt:hover{
    color: #fff;
}
.navbnt::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbnt:hover::after{
    transform: scaleX(1);
}