*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    color: #000;
    text-decoration: none;
}
body{
    font-family: emoji,"Nunito",sans-serif;
}
header{
    padding: 0.8rem;
    background-color: $primary-color;
}
input{
    border: 1px solid #cacccf;
    text-decoration: none;
    box-shadow: 1px 1px 5px $primary-color;
}
button{
    background-color: none;
    border: none;
    text-decoration: none;
    box-shadow: 1px 1px 5px #86898d;
}
header nav{
    font-family: emoji,"Nunito",sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}